<% presentations_hash.each do |user_id, book_presentations| %>
  <div class="bookPresentation-box">
    <ul>
      <li><%= link_to book_presentations[0].user.name, books_path(:user_id => user_id), class: "bookPresentation-name" %> </li>
      <div class="bookPresentation-titles">
        <% book_presentations.each do |presentation| %>
          <li>
            <span class="u-popup">
              &mdash; <span class="bookPresentation-title u-pointer"><%= presentation.book.title %></span>,
                by <%= book_author(presentation.book) %>
              <span class="popup-GatheringPopup u-popupContent">
                <% if presentation.book.image%>
                  <img src="<%= presentation.book.image %>"  alt="book cover" class="popup-GatheringPopupImage"/>
                <% else %>
                  <%= inline_svg_tag "question-mark.svg", alt: "unknown book cover", class: "popup-UnknownCover popup-GatheringPopupImage" %>
                <% end %>
                <div class="popup-GatheringBookContent">
                  <div>
                    <%= goodreads_button(presentation.book) %>
                  </div>
                  <div class="popup-Break"></div>
                  <%= presentation.book.synopsis || "Unavailable" %>
                </div>
              </span>
            </span>
          </li>
        <% end %>
      </div>
    </ul>
  </div>
<% end %>


