<div class="users-Login">
  <div class="form">
    <%= inline_svg_tag "logo-login.svg", alt: "BookClub", class:"users-LoginLogo" %>

    <p class="subtitle">Log in to Bookclub</p>

    <%= form_with model: @user, url: login_path, method: :post, local: true do |form| %>
      <div class="users-Field">
        <%= form.email_field :email, required: true,  placeholder: 'Email', class: "text-input" %>
      </div>

      <div class="users-Field">
        <%= form.password_field :password, required: true, placeholder: 'Password', class: "text-input" %>
      </div>

      <div class="users-Actions">
        <%= submit_tag 'Log in', class:  "submit" %>
      </div>
    <% end %>
  </div>
</div>
