<p class="u-helpText">  If you wish to create a book using Google Books, click
  <%= link_to "here.", new_book_path(title: @book.title, author: @book.author), style: "color: inherit" %></p>

<%= form_with(model: book, local: true, url: books_manual_import_path) do |form| %>
  <div class="books-Field">
    <%= form.label :title, class: "books-FieldLabel" %>
    <br>
    <%= form.text_field :title, class: "books-FieldPrompt" %>
  </div>

  <div class="books-Field">
    <%= form.label :author, 'Author (optional)', class: "books-FieldLabel" %>
    <br>
    <%= form.text_field :author, class: "books-FieldPrompt" %>
  </div>

  <div class="books-Field">
    <%= form.label :synopsis, 'Synopsis (optional)', class: "books-FieldLabel"%>
    <br>
    <%= form.text_field :synopsis, class: "books-FieldPrompt" %>
  </div>


  <div class="books-Field">
    <%= form.label :image, 'Link to book cover (optional)',  class: "books-FieldLabel" %>
    <br>
    <%= form.text_field :image, class: "books-FieldPrompt" %>
  </div>


  <%= form.submit "Create", class: "books-Submit" %>
<% end %>
