<div class='nested-fields'>
  <div class='form-group'>
    <%= form.hidden_field :_destroy %>
    
    <div class="Gatherings-mentionsFirst">
    <%= form.select :user_id, User.order(:name).all.map {|u| [u.name,u.id]}, {:prompt => "User"} , {:class => "SlimSelect bookPresentation-prompt"} %>
    </div>
    &nbsp; - &nbsp;
    <div class="Gatherings-mentionsSecond">
    <%= form.select :book_id, Book.order(:title).all.map {|b| [b.title, b.id]}, {:prompt => "Book (Create before inserting)"} , {:class => "SlimSelect bookPresentation-prompt"} %>
    </div>
    &nbsp; &nbsp;
    <div class="bookPresentation-Tooltip">
      <%= form.check_box :special, class: "checkbox-round" %>
      <span class="bookPresentation-TooltipText">Belongs to a special presentation?</span>
    </div>
    &nbsp;
    <%= link_to (inline_svg_tag 'trash.svg', alt: "delete"), "#", data: { action: "click->nested-form#removeAssociation" }, class:"u-deleteButton" %>
  </div>
</div>
