<div class='nested-fields'>
  <div class='form-group'>
    <%= form.hidden_field :_destroy %>

    <%= form.text_field :user_id, data: { behaviour: "autocomplete_user" }, placeholder: "User", value: form.object&.user&.name %>
    &nbsp - &nbsp;
    <%= form.text_field :book_id, data: { behaviour: "autocomplete_book" }, placeholder: "Book", value: form.object&.book&.title %>
    &nbsp; &nbsp;
    <%= form.check_box :special, class: "checkbox-round" %>
    &nbsp;
    <%= link_to (inline_svg_tag 'trash.svg', alt: "delete"), "#", data: { action: "click->nested-form#removeAssociation" } %>
  </div>
</div>
