<div class="nested-fields mb-4">
  <div class="flex flex-row items-center">
    <%= form.hidden_field :_destroy %>

    <div class="w-1/4">
      <%= form.select :user_id,
            User.order(:name).all.map { |u| [u.name,u.id] },
            {prompt: "-"},
            {class: "SlimSelect"}
      %>
    </div>

    &nbsp; - &nbsp;

    <div class="w-1/2">
      <%= form.select :book_id,
            Book.order(:title).all.map { |b| [b.title, b.id] },
            {prompt: "-"},
            {:class => "SlimSelect"}
      %>
    </div>

    <%= form.check_box :special, class: "ml-4 comp-checkbox",
          title: "Belongs to a special presentation?"
    %>

    <%= link_to (inline_svg_tag 'trash.svg', alt: "delete"),
          "#",
          data: { action: "click->nested-form#removeAssociation" },
          class: "ml-4 w-6"
    %>
  </div>
</div>
