<div class='nested-fields'>
  <div class='form-group'>
    <%= form.hidden_field :_destroy %>
    <select class="SlimSelect">
      <option value="volvo">Volvo</option>
      <option value="saab">Saab</option>
      <option value="mercedes">Mercedes</option>
      <option value="audi">Audi</option>
    </select>
    <%= form.select :user_id, User.order(:name).all.map {|u| [u.name,u.id]}, {:prompt => "User"} , {:class => "gatherings-Mentions gatherings-MentionsFirst"} %>
    &nbsp; - &nbsp;
    <%= form.select :book_id, Book.order(:title).all.map {|b| [b.title, b.id]}, {:prompt => "Book"} , {:class => "gatherings-Mentions gatherings-MentionsSecond"} %>
    &nbsp; &nbsp;
    <%= form.check_box :special, class: "checkbox-round" %>
    &nbsp;
    <%= link_to (inline_svg_tag 'trash.svg', alt: "delete"), "#", data: { action: "click->nested-form#removeAssociation" } %>
  </div>
</div>
