<%= form_with(model: gathering, local: true) do |form| %>
  <% if gathering.errors.any? %>
    <div>
      <h2><%= pluralize(gathering.errors.count, "error") %> prohibited this gathering from being saved:</h2>
      <ul>
        <% gathering.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="gatherings-SpaceDown">
    <%= form.label :date, class: "gatherings-Titles gatherings-TitlesDate" %>
  </div>
  <div class="gatherings-Date"><%= form.date_select :date, :order => [:day, :month, :year] %></div>
  <div class="gatherings-Line"></div>
  <div class="gatherings-SpaceUpDown">
    <%= form.label(:special_presentation, 'Special Presentation Title', class: "gatherings-Titles gatherings-TitlesSpecial") %>
  </div>
  <%= form.text_field :special_presentation, class:"gatherings-Special" %>
  
  <h2>Book Mentions</h2>
  <div data-controller="nested-form">
    <!-- template for form for creating a new book presentation -->
    <template data-target='nested-form.template'>
      <%= form.fields_for :book_presentations, BookPresentation.new, child_index: 'TEMPLATE_RECORD' do |book_presentation| %>
        <%= render 'book_presentation_fields', form: book_presentation %>
      <% end %>
    </template>

    <!-- Displaying existing book presentations -->

    <%= form.fields_for :book_presentations do |book_presentation2| %>
      <%= render 'book_presentation_fields', form: book_presentation2, gathering: gathering %>
    <% end %>

    <div class="gatherings-SpaceButton">
      <div data-target="nested-form.add_item">
        <%= link_to "+ Add Presentation", "#", data: { action: "nested-form#addAssociation" }, class: "gatherings-Link" %>
      </div>
    </div>
    <%= form.submit 'Submit', :class => "gatherings-Submit" %>
  </div>
<% end %>
