<%= form_with(model: gathering, local: true) do |form| %>
  <% if gathering.errors.any? %>
    <div>
      <h2>
        <%= pluralize(gathering.errors.count, "error") %> prohibited this gathering from being saved:
      </h2>

      <ul>
        <% gathering.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="flex flex-col w-52 pt-8">
    <%= form.label :date, class: "mr-4 text-blue-800" %>

    <%= form.date_field :date, class: "p-1 rounded border border-gray-200" %>
  </div>

  <div class="flex flex-col mt-8">
    <%= form.label :special_presentation,
          "Special Presentation Title (optional)",
          class: "text-blue-800"
    %>

    <%= form.text_field :special_presentation,
          class: "p-1 max-w-3xl rounded border border-gray-200",
          placeholder: "Special Presentation Title"
    %>

    <p class="mt-2 text-gray-500">
      If you want a book to belong to the special presentation, press the circle.
      <br/>
      If you don’t press it, it will belong to the normal book mentions.
    </p>
  </div>

  <h2 class="text-blue-800 mt-8">Book Mentions</h2>

  <div class="flex flex-row mt-4 mb-2 text-gray-500">
    <p class="w-1/4">Reader</p>
    <p class="ml-6">Book</p>
  </div>

  <div data-controller="nested-form">
    <!-- template for form for creating a new book presentation -->
    <template data-target="nested-form.template">
      <%= form.fields_for :book_presentations, BookPresentation.new, child_index: "TEMPLATE_RECORD" do |book_presentation| %>
        <%= render "book_presentation_fields", form: book_presentation %>
      <% end %>
    </template>

    <!-- Displaying existing book presentations -->
    <%= form.fields_for :book_presentations do |book_pres| %>
      <%= render "book_presentation_fields", form: book_pres %>
    <% end %>

    <div class="block -mt-2" data-target="nested-form.addItem">
      <%= link_to "+ Add Presentation", "#", data: { action: "nested-form#addAssociation" }, class: "text-blue-800 hover:underline" %>
    </div>

    <%= form.submit "Submit", class: "comp-button mt-6" %>
  </div>
<% end %>
