<%= form_with(model: gathering, local: true) do |form| %>
  <% if gathering.errors.any? %>
    <div>
      <h2><%= pluralize(gathering.errors.count, "error") %> prohibited this gathering from being saved:</h2>

      <ul>
        <% gathering.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label :date %>
  <br>
  <span class="gatherings-Date"><%= form.date_select :date, :order => [:day, :month, :year] %></span>
  <br>
  <br>
  <%= form.label :special_presentation %>
  <br>
  <%= form.text_field :special_presentation %>

  <h2>Book Mentions</h2>
  <div data-controller="nested-form">
    <!-- template for form for creating a new book presentation -->
    <template data-target='nested-form.template'>
      <%= form.fields_for :book_presentations, BookPresentation.new, child_index: 'TEMPLATE_RECORD' do |book_presentation| %>
        <%= render 'book_presentation_fields', form: book_presentation %>
      <% end %>
    </template>

    <!-- Displaying existing book presentations -->
    <%= form.fields_for :book_presentations do |book_presentation2| %>
      <%= render 'book_presentation_fields', form: book_presentation2 %>
    <% end %>

    <div data-target="nested-form.add_item">
      <%= link_to "Add Presentation", "#", data: { action: "nested-form#addAssociation" } %>
    </div>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
