<div class="gatherings-Main">
  <% unless @last_year == 0 %>
    <% ((@last_year).downto(@first_year)).each do |year| %>
      <p><%= year %></p>
    <div class="gatherings-First">
      <% if current_user %>
        <button class="gatherings-PlusBox">
          <%= link_to (image_tag 'plus.svg', alt: "New Gathering") , new_gathering_path(@gathering), class:"gatherings-First-link" %>
        </button>
        &nbsp; &nbsp
      <% end %>
      <% filter_by_year(@gatherings, year).each do |gathering| %>
        <button class="gatherings-FirstBox">
          <%= link_to Date::MONTHNAMES[gathering.date.month], gathering,  class:"gatherings-First-link"%>
        </button>
        <!--<% if current_user %> |
          <%= link_to 'Edit', edit_gathering_path(gathering) %> |
          <%= link_to 'Delete', gathering, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>-->
        <br>
      <% end %>
    <% end %>
    </div>
  <% end %>
  <br>
  <br>
  <br>
  
</div>
