<div class="gatherings-Main">
  <div class="gatherings-NextDate">
    Next BookClub session: <span class="gatherings-NextDate gatherings-NextDateShow"><%= Gathering.next_gathering_date.strftime("%A, %d %B %Y") %></span>
  </div>
    <% @gatherings.each do | year, gatherings | %>
    <p class="gatherings-MainYear"><%= year %></p>
    <div class="gatherings-YearGrid">
      <% if current_user %>
        <% if year == @gatherings.keys.first %>
          <button class="gatherings-PlusBox">
            <%= link_to (inline_svg_tag 'plus.svg', alt: "New Gathering") , new_gathering_path(@gathering), class:"gatherings-First-link" %>
          </button>
        <% end %>
      <% end %>
      <% gatherings.each do | gathering |%>
        <button class="gatherings-YearGridBox">
          <div class="gatherings-Month-link"> <%= show_date_month(gathering) %> </div>
          <div class="gatherings-YearGridBox-SpecialPresentation"><%= gathering.special_presentation %> </div>
          <%= link_to (inline_svg_tag 'dropdown_arrow.svg', alt: "delete"), gathering%>
        </button>
      <% end %>
    </div>
  <% end %>
</div>




