<div class="gatherings-Main">
  <div class="gatherings-NextDate">
    Next BookClub session: <span class="gatherings-NextDate gatherings-NextDateShow"><%= Gathering.next_gathering_date.strftime("%A, %d %B %Y") %></span>
  </div>

  <% @gatherings.each do | year, gatherings | %>
    <p class="gatherings-MainYear"><%= year %></p>
    <div class="gatherings-YearGrid">
      <% if current_user&.moderator %>
        <% if year == @gatherings.keys.first %>
          <button class="gatherings-PlusBox">
            <%= link_to (inline_svg_tag 'plus.svg', alt: "New Gathering") , new_gathering_path(@gathering), class:"gatherings-First-link" %>
          </button>
        <% end %>
      <% end %>

      <% gatherings.each do | gathering |%>
        <div class="gatherings-YearGridBox">
          <button type="button" class="gatherings-YearGridBox-header collapsible-gathering">
              <div class="gatherings-YearGridBox-headerMonth"> <%= show_date_month(gathering) %> </div>
              <div class="gatherings-YearGridBox-headerSpecialPresentation"><%= gathering.special_presentation %> </div>
              <%= image_tag('expand-arrow.png', alt: "expand", class: "arrow-image") %>
          </button>
          <div class="collapsible-content">
            <%= render 'gathering_collapsible', gathering: gathering %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<button id="backToTop" title="Back to Top">	&uarr; Back To Top </button>
