<div class="Gatherings-main">
  <div class="Gatherings-nextDate">
    Next BookClub session: <span class="Gatherings-nextDate Gatherings-nextDateShow"><%= Gathering.next_gathering_date.strftime("%A, %d %B %Y") %></span>
  </div>
    <% @gatherings.each do | year, gatherings | %>
    <p class="Gatherings-mainYear"><%= year %></p>
    <div class="Gatherings-yearGrid">
      <% if current_user %>
        <% if year == @gatherings.keys.first %>
          <button class="Gatherings-yearGridBox Gatherings-plusBox">
            <%= link_to (inline_svg_tag 'plus.svg', alt: "New Gathering") , new_gathering_path(@gathering), class:"Gatherings-firstLink" %>
          </button>
        <% end %>
      <% end %>
      <% gatherings.each do | gathering |%>
        <button class="Gatherings-yearGridBox">
          <div class="Gatherings-firstBoxDelete">
            <%= link_to (inline_svg_tag 'trash.svg', alt: "delete", class: "Gatherings-firstBoxDeleteImg"), gathering, method: :delete, data: {confirm: 'Are you sure?' } %>
          </div>
          <%= link_to show_date_month(gathering), gathering,  class:"Gatherings-firstLink"%>
        </button>
      <% end %>
    </div>
  <% end %>
</div>
