<div class="max-w-4xl mx-auto px-6">
  <div class="flex align-baseline text-blue-600 text-lg">
    <p>Next BookClub session:</p>

    <span class="ml-2 font-bold">
      <%= Gathering.next_gathering_date.strftime("%A, %d %B %Y") %>
    </span>
  </div>

  <% @gatherings.each do | year, gatherings | %>
    <%= render "_components/section_title" do %>
      <%= year %>
    <% end %>

    <div class="flex flex-col flex-wrap justify-start space-y-14">
      <% if current_user&.moderator %>
        <% if year == @gatherings.keys.first %>
          <button class="gatherings-PlusBox">
            <%= link_to (inline_svg_tag 'plus.svg', alt: "New Gathering"),
              new_gathering_path(@gathering),
              class:"gatherings-First-link"
            %>
          </button>
        <% end %>
      <% end %>

      <% gatherings.each do | gathering |%>
        <div
          class="bg-white shadow-2xl rounded-3xl px-16 py-7"
          x-data="{ open: false }"
        >
          <div
            class="flex items-center justify-between cursor-pointer space-x-2"
            @click="open = !open"
          >
            <div class="font-serif text-4xl text-blue-600 font-bold">
              <%= show_date_month(gathering) %>
            </div>

            <div class="text-base text-gray-600 font-semibold md:hidden">
              <%= gathering.special_presentation %>
            </div>

            <button
              type="button"
              :class="{ 'isOpen': open }"
            >
              <%= inline_svg_tag('expand-arrow.svg', alt: "expand") %>
            </button>
          </div>

          <turbo-frame
            x-cloak
            x-show="open"
            id="<%= dom_id(gathering) %>"
            src="/gatherings/<%= gathering.id %>"
            class="block mt-8"
          >
            Loading...
          </turbo-frame>

          <button
            class="gatherings-closeButton"
            x-cloak
            x-show="open"
            @click="open = false">
            Close
          </button>
        </div>
      <% end %>
    </div>
  <% end %>
</div>


<button
  x-data="{ visible: false}"
  x-cloak
  x-on:scroll.window.passive="visible = (document.documentElement.scrollTop > 300)"
  x-show="visible"
  @click="window.scrollTo({ top: 0, behavior: 'smooth' });"
  title="Back to Top"
  class="gatherings-backToTop"
>
  &uarr; Back To Top
</button>

