<turbo-frame id="<%= dom_id(@gathering) %>">
  <div class="flex items-center justify-between pt-4 pb-6 sm:flex-col sm:items-start">
    <h2 class="text-xl text-blue-600 font-sans">Book Mentions</h2>

    <div class="flex items-center space-x-4 mt-4 sm:flex-wrap sm:-mt-4 sm:pt-4">
      <% if current_user %>
        <div class="sm:mt-4">
          <%= send_notification_button(current_user, @gathering) %>
        </div>

        <% if current_user.moderator %>
          <%= link_to (
                inline_svg_tag "trash.svg",
                alt: "delete"
              ),
              @gathering,
              method: :delete,
              data: { confirm: "Are you sure you want to delete it?" },
              class: "w-6 sm:mt-4",
              data: { "turbo-frame": "_top" }
          %>
        <% end %>
        <%= link_to (
              inline_svg_tag "edit.svg",
              alt: "edit",
              class: "sm:mt-4"
            ),
            edit_gathering_path(@gathering),
            data: { "turbo-frame": "_top" }
        %>
      <% end %>
    </div>
  </div>

  <%= render "book_presentations/book_presentation_hash", presentations_hash: @other_users_presentations %>

  <% if @gathering.special_presentation.present? %>
    <h2 class="mt-10 mb-6 text-blue-600 text-xl font-semibold">
      <%= @gathering.special_presentation %>
    </h2>
  <% end %>

  <%= render "book_presentations/book_presentation_hash", presentations_hash: @user_presentations %>
</turbo-frame>
