<%= form_with(model: book, local: true, url: books_path) do |form| %>
  <div class="Books-Field">
    <%= form.label :title %>
    <br>
    <%= form.text_field :title %>
  </div>

  <div class="Books-Field">
    <%= form.label :author, 'Author (Optional for when the wrong book is created)' %>
    <br>
    <%= form.text_field :author %>
  </div>

  <div class="Books-Actions">
    <%= form.submit %>
  </div>

  <div class="Books-Actions">
    <%= form.submit 'Create manually', name: "redirect_to_manual_creation" %>
  </div>
<% end %>
