<p class="u-helpText"> Since we're using an external service (google books) to gather the book information, only the title (and, optionally, the author) needs to be provided.</p>
<p class="u-helpText">  If you wish to create a book manually, 
  <%= link_to "click here.", books_manual_import_new_path(title: @book.title, author: @book.author), style: "color: inherit" %></p>

<%= form_with(model: book, local: true, url: books_path) do |form| %>
    <div class="books-Field">
      <%= form.label :title, class: "books-FieldLabel" %>
      <div></div>
      <%= form.text_field :title, class: "books-FieldPrompt" %>
    </div>

    <div class="books-Field">
      <%= form.label :author, 'Author (Optional)', class: "books-FieldLabel"  %>
      <div></div>
      <%= form.text_field :author, class: "books-FieldPrompt" %>
    </div>

    <%= form.submit "Create", class: "books-Submit" %>
  <% end %>
