<div class="Books">
  <h1>Editing Book</h1>

  <%= form_with(model: @book, local: true) do |form| %>
    <div class="books-Field">
      <%= form.label :title %>
      <br>
      <%= form.text_field :title %>
    </div>

    <div class="books-Field">
      <%= form.label :author, 'Author' %>
      <br>
      <%= form.text_field :author %>
    </div>

    <div class="books-Field">
      <%= form.label :synopsis, 'Synopsis' %>
      <br>
      <%= form.text_field :synopsis %>
    </div>

    <div class="books-Field">
      <%= form.label :image, 'Link to book cover' %>
      <br>
      <%= form.text_field :image %>
    </div>

    <div class="books-Actions">
      <%= form.submit %>
    </div>
  <% end %>
</div>
