<div class="books-Main">
  <%= form_tag books_path, :method => 'get' do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search" %>
  <% end %>

  <!--<form action="/search">
    <input name="q" type="text" placeholder="Search">
    <button type="submit">Search</button>
  </form>-->

  <div>
    <% if @selected_user.nil? %>
      <strong> <%= link_to 'All books', books_path %> </strong>
      <%= @books.count %>
    <% else %>
      <%= link_to 'All books', books_path %>
      <%= Book.all.count %>
    <% end %>

    <br>

    <% @users.each do |user| %>
      <% if @selected_user.eql?(user) %>
        <strong><%= link_to user.name, books_path(:user_id => user.id) %> </strong>
      <% else %>
        <%= link_to user.name, books_path(:user_id => user.id) %>
      <% end %>
      <%= distinct_book_mentions(user)%>
      <br>
    <% end %>
  </div>

  <%= link_to 'Create New Book', new_book_path, class: "books-NewButton" %>

  <% if @selected_user.nil? %>
    <% if @books.select { |book| book.users.count == 0 }.length != 0 %>
      <p class="gatherings-MainYear">Books not presented</p>
      <% @books.select { |book| book.users.count == 0 }.each do |book| %>
        <div class="books-FlexContainer">
          <div class="books-FlexContainer-child">
            <% if book.image%>
              <img src="<%= book.image %>"  alt="book cover" class="books-FlexContainer-apiImg"/>
            <% else %>
              <%= link_to (inline_svg_tag "question-mark.svg", alt: "unknown book cover", class: "books-FlexContainer-unavailableImg") %>
            <% end %>
            <div class="books-FlexContainer-title">
              <%= truncate(book.title, length:40) %>
            </div>
            <div class="books-FlexContainer-author">
              by <%= truncate(book.author, length: 35) || "Unavailable" %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>

  <% @gatherings.each do | year, gatherings | %>
    <% gatherings.each do | gathering |%>
      <p class="gatherings-MainYear"><%= show_date_month(gathering) %>&nbsp;&nbsp;<%= year %></p>
      
      <% gathering.books.distinct.each do |book| %>
        <% if (@selected_user.nil? || book.users.include?(@selected_user)) && (@books.include?(book)) %>
          <div class="books-FlexContainer">
            <div class="books-FlexContainer-child">
              <% if book.image%>
                <img src="<%= book.image %>"  alt="book cover" class="books-FlexContainer-apiImg"/>
              <% else %>
                <%= link_to (inline_svg_tag "question-mark.svg", alt: "unknown book cover", class: "books-FlexContainer-unavailableImg") %>
              <% end %>
              <div class="books-FlexContainer-title">
                <%= truncate(book.title, length:40) %>
              </div>
              <div class="books-FlexContainer-author">
                by <%= truncate(book.author, length:35) || "Unavailable" %>
              </div>
              <div class ="books-FlexContainer-presenter">Presented by:
              <% if book.users.count <= 3 %>
                <% book.users.distinct.each_with_index do |user, index| %>
                  <%= link_to user.name, books_path(:user_id => user.id), class:"books-FlexContainer-presenterName" %><% if index < book.users.distinct.count-1 %>,<% end %>
                <% end %>
              <% else %>
                <% book.users.distinct[0..2].each_with_index do |user, index| %>
                  <%= link_to user.name, books_path(:user_id => user.id), class:"books-FlexContainer-presenterName" %><% if index < 2 %>,<% end %>
                <% end %>
                + <%= book.users.distinct.count -3 %>
              <% end %>
              </div>
            </div>
          </div>
        <% end %>
    <% end %>
  <% end %>
  <% end %>
</div>
