<div class="books-Main max-w-4xl mx-auto px-6 py-0">
  <div class="books-Header">
    <%= select_tag "users",
      options_for_select(@user_options),
      {
        "x-data": "{url: null}",
        "x-model": "url",
        "@change": "Turbo.visit(url)",
        class: "books-UserFilter"
      }
    %>

    <%= link_to 'Create New Book', new_book_path, class: "books-NewButton" %>
  </div>

  <% if @search_param %>
    <h2> Showing the results for: <%= @search_param %></h2>
  <% end %>

  <% if @books_without_presentation.length > 0 %>
    <%= render "_components/section_title" do %>
      Books not presented
    <% end %>

    <%= render "book_list", books: @books_without_presentation %>
  <% end %>

  <% @gatherings.each do | year, gatherings | %>
    <% gatherings.each do | gathering |%>
      <turbo-frame
        id="gathering_<%= gathering.id %>_books"
        src="<%= gathering_books_path(gathering, search: @search_param) %>"
        target="_top"
      ></turbo-frame>
    <% end %>
  <% end %>
</div>
