<div class="Books-main">
  <% if current_user %>
    <%= link_to 'New Book', new_book_path %>
  <% end %>
  <br>
  <% if @selected_user.nil? %>
    <strong> <%= link_to 'All books', books_path %> </strong>
    <%= @books.count %>
  <% else %>
    <%= link_to 'All books', books_path %>
    <%= Book.all.count %>
  <% end %>

  <br>

  <% @users.each do |user| %>
    <% if @selected_user.eql?(user) %>
      <strong><%= link_to user.name, books_path(:user_id => user.id) %> </strong>
    <% else %>
      <%= link_to user.name, books_path(:user_id => user.id) %>
    <% end %>
    <%= distinct_book_mentions(user)%>
    <br>
  <% end %>
  <% @gatherings.each do | year, gatherings | %>
  <% gatherings.each do | gathering |%>
  <p class="gatherings-MainYear"><%= show_date_month(gathering) %>&nbsp;&nbsp;<%= year %></p>

  <% @books.each do |book| %>
    <div class="Books-flexGrid">
      <div class="Books-flexGridSingle">
      <div class="Books-flexGridSingleImg">
        <% if book.image%>
          <img src="<%= book.image %>"  alt="book cover"/>
        <% else %>
          <%= link_to (inline_svg_tag "question-mark.svg", alt: "unknown book cover", class: "Books-unknown") %>
        <% end %>
      </div>
      <div class="Books-flexGridSingleText">
        <%= book.title %>
      </div>
      <%= book.author || "Unavailable" %>
      
      <!-- <%= link_to 'Show', book %>
      <% if current_user %>
        <%= link_to 'Edit', edit_book_path(book) %>
        <%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>-->
      </div>
    </div>
  <% end %>

  <% end %>
  <% end %>
</div>
