<div class="books-Main">
  <div>
    <% if @selected_user.nil? %>
      <strong> <%= link_to 'All books', books_path %> </strong>
      <%= @books.count %>
    <% else %>
      <%= link_to 'All books', books_path %>
      <%= Book.all.count %>
    <% end %>

    <br>

    <% @users.each do |user| %>
      <% if @selected_user.eql?(user) %>
        <strong><%= link_to user.name, books_path(:user_id => user.id) %> </strong>
      <% else %>
        <%= link_to user.name, books_path(:user_id => user.id) %>
      <% end %>
      <%= distinct_book_mentions(user)%>
      <br>
    <% end %>
  </div>

  <%= link_to 'Create New Book', new_book_path, class: "books-NewButton" %>

  <% if @selected_user.nil? %>
    <p class="gatherings-MainYear">Books not presented</p>
    <% @books.select { |book| book.users.count == 0 }.each do |book| %>
      <div class="books-FlexContainer">
            <div class="books-FlexContainer-child">
                <% if book.image%>
                  <img src="<%= book.image %>"  alt="book cover" class="books-FlexContainer-apiImg"/>
                <% else %>
                  <%= link_to (inline_svg_tag "question-mark.svg", alt: "unknown book cover", class: "books-FlexContainer-unavailableImg") %>
                <% end %>
              <div class="books-FlexContainer-title">
                <%= truncate(book.title, length:44) %>
              </div>
              <div class="books-FlexContainer-author">
                by <%= book.author || "Unavailable" %>
              </div>
              <p class ="books-FlexContainer-presenter">Presented by:
              <% book.users.distinct.each do |user| %>
                  <%= link_to user.name, books_path(:user_id => user.id) %>
              <% end %>
            <p>
            </div>
          </div>
    <% end %>
  <% end %>

  <% @gatherings.each do | year, gatherings | %>
    <% gatherings.each do | gathering |%>
      <p class="gatherings-MainYear"><%= show_date_month(gathering) %>&nbsp;&nbsp;<%= year %></p>
      
      <% gathering.books.distinct.each do |book| %>
        <% if @selected_user.nil? || book.users.include?(@selected_user) %>
          <div class="books-FlexContainer">
            <div class="books-FlexContainer-child">
                <% if book.image%>
                  <img src="<%= book.image %>"  alt="book cover" class="books-FlexContainer-apiImg"/>
                <% else %>
                  <%= link_to (inline_svg_tag "question-mark.svg", alt: "unknown book cover", class: "books-FlexContainer-unavailableImg") %>
                <% end %>
              <div class="books-FlexContainer-title">
                <%= truncate(book.title, length:44) %>
              </div>
              <div class="books-FlexContainer-author">
                by <%= book.author || "Unavailable" %>
              </div>
              <p class ="books-FlexContainer-presenter">Presented by:
              <% if book.users.count < 2 %>
                <% book.users.distinct.each do |user| %>
                  <%= link_to user.name, books_path(:user_id => user.id) %>
                <% end %>
              <% else %>
                <% book.users.distinct[0..1].each do |user| %>
                  <%= link_to user.name, books_path(:user_id => user.id) %>
                <% end %>
                + <%= book.users.distinct.count -2 %>
              <% end %>
            <p>

            <!--<%= link_to 'Show', book %>
              <% if current_user %>
                <%= link_to 'Edit', edit_book_path(book) %>
                <%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>-->
            </div>
          </div>
        <% end %>
    <% end %>
  <% end %>
  <% end %>
</div>
