<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <img src="<%= @book.image %>"  alt="book image"/>
</p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Synopsis:</strong>
  <%= @book.synopsis %>
</p>



<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
