<span
  class="popup-PopupFrame u-popupContent"
  x-cloak
  x-data
  @click.away="$el.remove()"
>
  <% if @book.image%>
    <img src="<%= @book.image %>" alt="book cover" class="popup-PopupImage"/>
  <% else %>
    <%= inline_svg_tag "question-mark.svg", alt: "unknown book cover", class: "popup-UnknownCover popup-PopupImage" %>
  <% end %>

  <div class="popup-BookContent">
    <%= goodreads_button(@book) %>

    <div class="popup-Break"></div>

    <div class="popup-BookSynopsis">
      <%= @book.synopsis || "Unavailable" %>
    </div>

    <% if @presenting_users.count > 0 %>
      <h4> Presented by: </h4>

      <ul style="list-style: disc;padding-left: 2.5em;">
        <% @presenting_users.each do |user| %>
          <li> <%= link_to user.name, books_path(:user_id => user.id), class: "popup-UserName"%></li>
        <% end %>
      </ul>
    <% end %>
  </div>
</span>
