<!DOCTYPE html>
<html>
  <head>
    <title>Bookclub</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="main-Header">
      <div class="header-Nav">
        <div class="header-Brand">
          <%= link_to (inline_svg_tag"logo-navbar.svg", alt: "BookClub", class:"header-BrandImg"), root_path %>
        </div>
        <div class="header-Search">
          <%= form_tag books_path, :method => "get" do %>
            <%= text_field_tag :search, params[:search], placeholder: "Search...", class: "header-SearchText" %>
            <%= image_submit_tag("magnifier.svg", alt: "search", class: "header-SearchImg") %>
          <% end %>
        </div>
        <% if current_user %>
          <span class="header-LogOut-text">Hello, <span class="header-UserName"><%= link_to current_user.name, books_path(:user_id => current_user.id) %></span> / <%= link_to 'Log Out', logout_path, method: :delete, title: "logout", class: "logout header-LogOut" %></span>
        <% else %>
          <%= link_to 'Log In', login_path, class:"header-LogIn", style:"padding-left: 3.1em; padding-top: 9px" %>
        <% end %>
      </div>
    </header>

    <div class="main">
      <% flash.each do |_key, value| %>
        <div class="u-notice">
          <%= value %>
        </div>
      <% end %>
    </div>

    <div class="Sidebar" onmouseover="toggleSidebar(event)" onmouseout="toggleSidebar(event)">
      <div class="Sidebar-textList">
        <% if controller_name === "gatherings"%>
          <%= link_to (inline_svg_tag 'gatheringspage-navbar.svg', alt: "List", class:"Sidebar-list") + 'BookClub Gatherings', gatherings_path, {:style=>'color:#f1f1f1;'} %>
        <% else %>
          <%= link_to (inline_svg_tag 'gatherings-navbar.svg', alt: "List", class:"Sidebar-list") + 'BookClub Gatherings', gatherings_path %>
        <% end %>
      </div>
      <% if controller_name === "books" %>
        <%= link_to (inline_svg_tag 'bookpage-navbar.svg', alt: "Books", class:"Sidebar-book") + 'Books', books_path, {:style=>'color:#f1f1f1;'} %>
      <% else %>
        <%= link_to (inline_svg_tag 'book-navbar.svg', alt: "Books", class:"Sidebar-book") + 'Books', books_path %>
      <% end %>
    </div>
    <script type="text/javascript">
    var hidden = true;
    document.toggleSidebar = (event) => {
        const sidebarElement = event.currentTarget;
        if (hidden) {
            if (window.innerWidth > 1000){
              sidebarElement.style.width = "23%";
            }else{
              sidebarElement.style.width = "50%";
            }
            hidden = false;
        } else {
            if (window.innerWidth > 1000) {
                sidebarElement.style.width = "5%";
            }else{
                sidebarElement.style.width = "8%";
            }
            sidebarElement.style.paddingLeft = "1.2%";
            hidden = true;
        }
    }

    </script>
    <%= yield %>
  </body>
</html>
