<!DOCTYPE html>
<html>
  <head>
    <title>Bookclub</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
    <%= javascript_packs_with_chunks_tag "application", media: "all", "data-turbo-track": "reload" %>
    <%= stylesheet_packs_with_chunks_tag "application", media: "all", "data-turbo-track": "reload" %>
    <%= favicon_link_tag asset_path("logo-login.svg") %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <div class="py-12 px-6">
      <%= render "_components/navbar" %>
    </div>

    <div class="flex flex-col items-center pb-12">
      <%= render "_components/search" %>
    </div>

    <div class="flex flex-col items-center">
      <% flash.each do |_key, value| %>
        <div class="-mt-6 pb-2 text-blue-600">
          <%= value %>
        </div>
      <% end %>
    </div>

    <div class="relative max-w-4xl mx-auto mb-16 px-6">
      <%= yield %>
    </div>
  </body>
</html>
