<!DOCTYPE html>
<html>
  <head>
    <title>Bookclub</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <div id="navbar">
        <ul>
          <% if current_user %>
            <p>Logged in</p>
          <% else %>
            <li><%= link_to 'Log In', log_in_path %></li>
          <% end %>
        </ul>

        <% if current_user %>
          <ul>
            <li><span><%= current_user.email %></span></li>
            <li><%= link_to 'Log Out', log_out_path, method: :delete %></li>
          </ul>
        <% end %>
      </div>
    </nav>
    <div>
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>">
          <%= value %>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
