<!DOCTYPE html>
<html>
  <head>
    <title>Bookclub</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
    <%= javascript_packs_with_chunks_tag "application", media: "all", "data-turbo-track": "reload" %>
    <%= stylesheet_packs_with_chunks_tag "application", media: "all", "data-turbo-track": "reload" %>
    <%= favicon_link_tag asset_path("logo-login.svg") %>
  </head>

  <body>
    <%= render "_components/navbar" %>

    <div class="flex flex-col items-center">
      <%= render "_components/search" %>
    </div>

    <div class="u-noticeArea">
      <% flash.each do |_key, value| %>
        <div class="u-notice">
          <%= value %>
        </div>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
